.SearchBar{
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  background-color:rgb(126, 211, 69);
  padding-top:18px;
  width: 100%;
  height: 80px;
  .center-searchbar{
    width:  100%;
    justify-content: center;
    align-items: center;
  }
}