.AddFilm{
  border:5px rgb(126, 211, 69) solid;
  padding: 10px;
  margin:150px;
  background-color: rgb(126, 211, 69);
  textarea{
    width: 80%;
  }
  Label{
    width:80px;
  }
  Button{
    background-color: rgb(159, 18, 202);
    color: white;
  }
}