.AfficheFilm{
  .photo-size{
    padding: 0px;
  }
  .CardFilm{
    border: 1px solid #BFBFBF;
    // box-shadow effet de 3d pour les cartes
    box-shadow: 6px 6px 2px #aaaaaa;
   &:hover {
      transform:scale(1.1);
      transition: 1s;
      }
  }
  Button{
    background-color: white;
    color:rgb(126, 211, 69);
    border:2px solid rgb(126, 211, 69);
  }
}