.Admin{
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
  .button a{
   margin: 20px;
   background-color: rgb(126, 211, 69);
   color:white;
   height: 50px;
   padding: 10px;
  }
  .cards a{
    display: none;
  }
}