.CardFilm{
  width: 319px;
  margin:18px;
  .photo-size{
    width: 318px;
    padding: 0px;
  }
  .admin{
    display: none;
  }
  Button{
    background-color: white;
    color:rgb(126, 211, 69);
    border:2px solid rgb(126, 211, 69);
    margin:5px;
  }
    border: 1px solid #BFBFBF;
    // box-shadow effet de 3d pour les cartes
    box-shadow: 6px 6px 2px #aaaaaa;
   &:hover {
      transform:scale(1.1);
      transition: 1s;
      }
  Link{
        color:rgb(126, 211, 69);
      }
}