.Footer{
  //  Create a fixed footer
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 150px;
  // ci-dessus fixed footer
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(126, 211, 69);
  color:wheat;
  text-align: center;
  a{
    color:black;
  }
  ul{
    list-style: none;
  }
  display: flex;
}