.Footer{
  display: flex;
  flex-direction: column;
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color:wheat;
  text-align: center;
  // .block{
  //   width:25px;
  //   flex: 1 1 auto;
  // }
  a{
    color:black;
  }
  ul{
    list-style: none;
  }
  display: flex;
}